body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
a{
    font-size: 18px;
    color: #e5e7eb;   
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.photo {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    margin: 0;
    

}